
<header class="vw-100">
  <nav class="navbar navbar-dark bg-dark shadow text-white">
    <div class="col-auto text-start">
      <h3 class="fw-bold m-2"><a class="text-decoration-none text-white">Ez-Money Editor</a></h3>
    </div>


    <div *ngIf="username" class="col-auto text-end m-2">
      {{username}}
      <button class="btn btn-sm btn-outline-danger" (click)="onLogOut()">Log Out</button>
    </div>
  </nav>
</header>

<div class="container vw-100">
  <router-outlet></router-outlet>
</div>
